[INFO] [1789955790.004097576] [dope_detection_node]: DOPE Audi: no detection (sweeping scale=0.20 256x144, inference=42.1 ms)
[INFO] [1789955791.055655773] [dope_detection_node]: DOPE Audi: distance=39.32 m camera_position=(0.26, 1.92, 39.28) candidates=1 scale=0.56 (712x400) inference=43.3 ms
[INFO] [1789955791.558942971] [dope_detection_node]: DOPE Audi: distance=38.79 m camera_position=(0.21, 1.43, 38.77) candidates=1 scale=0.48 (614x346) inference=46.2 ms
[INFO] [1789955792.014847993] [dope_detection_node]: DOPE Audi: no detection (tracking scale=0.70 896x504, inference=52.9 ms)
[INFO] [1789955792.209226955] [dope_detection_node]: DOPE Audi: distance=38.55 m camera_position=(0.22, 0.71, 38.54) candidates=1 scale=0.48 (614x346) inference=46.5 ms
[INFO] [1789955792.807388811] [dope_detection_node]: DOPE Audi: distance=38.18 m camera_position=(0.22, 0.27, 38.18) candidates=1 scale=0.48 (614x346) inference=44.6 ms
[INFO] [1789955793.357919669] [dope_detection_node]: DOPE Audi: distance=38.23 m camera_position=(0.22, -0.24, 38.23) candidates=1 scale=0.48 (614x346) inference=44.4 ms



** Inconsistent rpy
[INFO] [1789959399.704361131] [dope_detection_node]: DOPE Audi: no detection (sweeping scale=0.28 358x202, tries=1, inference=45.9 ms)
[INFO] [1789959400.755971653] [dope_detection_node]: DOPE Audi: distance=48.00 m camera_position=(0.26, 6.06, 47.62) orientation q=(-0.626,+0.320,-0.624,+0.342) rpy=(-89,-34,-89)deg nose=+89deg(away) candidates=1 corners=8/8 scale=0.48 (614x346) tries=1 inference=48.1 ms
[INFO] [1789959401.303780959] [dope_detection_node]: DOPE Audi: distance=47.72 m camera_position=(8.29, 4.28, 46.80) orientation q=(-0.474,+0.644,-0.321,+0.508) rpy=(-107,+20,-92)deg nose=+106deg(toward) candidates=1 corners=6/8 scale=0.56 (712x400) tries=1 inference=45.9 ms
[INFO] [1789959401.705554215] [dope_detection_node]: DOPE Audi: no detection (tracking scale=0.48 614x346, tries=2, inference=97.3 ms, coasting)
[INFO] [1789959403.752815913] [dope_detection_node]: DOPE Audi: no detection (sweeping scale=0.16 205x115, tries=1, inference=44.6 ms)
