<?xml version="1.0"?>
<model>
    <name>audi_r8</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
      <name>Mitchell Torok</name>
      <email>mitch.torok@gmail.com</email>
    </author>

    <description>
      A drivable Audi R8 (differential-drive, same plugin set as car_polo)
      using the decimated version of the exact mesh the DOPE "Audi" network
      was trained on (~/data/models/Audi_R8/audi_r8.obj), with an AprilTag
      landing marker on the roof for the ArUco/AprilTag detector path.
    </description>
</model>
